<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="emigBuilder"
         name="EMFMigrate Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="it.univaq.coevolution.emfmigrate.compiler.builder.EmigBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="emigNature"
         name="EMFMigrate Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="it.univaq.coevolution.emfmigrate.compiler.builder.EmigNature">
         </run>
      </runtime>
      <builder
            id="it.univaq.coevolution.emfmigrate.compiler.emigBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="it.univaq.coevolution.emfmigrate.compiler.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="it.univaq.coevolution.emfmigrate.compiler.builder.ToggleNatureAction"
               enablesFor="+"
               id="it.univaq.coevolution.emfmigrate.compiler.addRemoveNatureAction"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
