<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.mopp.EmigMetaInformation" id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.mopp.EmigMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem">
		</super>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem">
		</super>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem">
		</super>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem">
		</super>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.problem">
		</super>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.nature" name="emig nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.mopp.EmigNature">
			</run>
		</runtime>
		<builder id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.builder" name="emig Builder">
		<builder hasNature="true">
			<run class="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.mopp.EmigBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.mopp.EmigResourceFactoryDelegator" type="emig">
		</parser>
	</extension>
	
	<extension-point id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.debug.EmigLineBreakpoint" id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.debug.breakpoint" markerType="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.debug.lineBreakpoint.marker" name="emig Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="it.univaq.coevolution.emftext.emig.language.emig.resource.emig.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
</plugin>
